* {
  font-family: "Catamaran", Arial, sans-serif;
  /*text-decoration-line: none; */
  box-sizing: border-box;
  padding: 0;
}

body {
  margin-left: 4em;
  margin-right: 4em;
}

a:visited {
  text-decoration: underline;
  color: #af952e;
}
/* heading style */

#header_container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f3eed9;
  z-index: 2;
}

.company_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4em;
  margin-top: 1em;
}

.fossil_logo img {
  height: 8vh;
  width: auto;
  border-radius: 50%;
}

.fossil_logo img:hover {
  transform: scale(1.1);
}

.company_title {
  float: right;
  padding-left: 1em;
}

.page_title {
  margin-top: 1em;
}

.main_nav {
  margin-right: 4em;
  margin-top: 1em;
}

.nav {
  text-align: center;
  list-style-type: none;
  display: flex;
  padding: 0;
}

.nav li a {
  font-size: 1em;
  padding-right: 0.8em;
  padding-left: 0.8em;
  color: black;
}

.contact {
  border-bottom: 10px solid green;
}

.nav li a:hover {
  display: inline-block;
  font-style: italic;
  transform: scale(1.2);
  text-decoration-line: underline;
}

/* showcase banner styles */

#showcase_container {
  margin-top: 10em;
}

.showcase {
  background-image: url("/images/contact_map_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -5px -5px 10px lightslategray;
  padding: 2em 2em 50vh 2em;
  width: 100%;
}

.banner_title {
  background-color: rgba(95, 93, 93, 0.87);
  color: whitesmoke;
  text-align: center;
  border-radius: 5px;
  margin-left: 30vw;
  margin-right: 30vw;
}

/* main styles */

.gmap_canvas {
  margin-top: 2em;
}

#gmap_canvas {
  width: 50vw;
  height: 50vh;
  display: block;
  margin: auto;
}

.message {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  align-items: center;
  margin: 2.5rem;
}

.message h2 {
  border-top: 1px solid black;
}

.form_container {
  float: left;
  width: 50%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1em;
  border-top: 1px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.form input,
textarea {
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.submit_button,
.subscribe {
  background-color: #ff9f1c;
  border-color: #ff9f1c;
  border-radius: 20%;
  min-width: 2em;
  line-height: 2.5em;
  margin-top: 1em;
  display: block;
}

.contact_details_main {
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-top: 1px solid black;
}

.contact_details_main ul {
  list-style: none;
  text-align: center;
}

.contact_details_main ul li {
  padding: 1em;
}

/* footer styles*/

.author {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  background-color: #f3eed9;
}

.fossil_logo_small img {
  width: 5vw;
  border-radius: 50%;
}

.author quote {
  text-align: center;
}
/*media queries */

@media (max-width: 1250px) {
  #header_container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .company_container,
  .page_title,
  .page_title h2,
  .main_nav {
    margin: 0;
  }
  .banner_title {
    margin-top: 25vh;
  }
}

@media (max-width: 950px) {
  .banner_title {
    font-size: 1.5em;
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .showcase {
    padding-bottom: 25vh;
    margin-top: 25vh;
  }
  .company_title_footer h1 {
    margin: 0;
  }
}

@media (max-width: 750px) {
  #gmap_canvas {
    width: 50vw;
    height: 40vh;
  }
}

@media (max-width: 600px) {
  #gmap_canvas {
    width: 60vw;
    height: 40vh;
  }
  main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
