* {
  font-family: "Catamaran", Arial, sans-serif;
  text-decoration-line: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body {
  margin-left: 5%;
  margin-right: 5%;
} */

a:visited {
  text-decoration: underline;
  color: #af952e;
}
/* heading style */

#header_container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f3eed9;
  z-index: 2;
}

.company_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4em;
  margin-top: 1em;
}

.fossil_logo img {
  height: 8vh;
  width: auto;
  border-radius: 50%;
}

.fossil_logo img:hover {
  transform: scale(1.1);
}

.company_title {
  float: right;
  padding-left: 1em;
}

.page_title {
  margin-top: 1em;
}

.main_nav {
  margin-right: 4em;
  margin-top: 1em;
}

.nav {
  text-align: center;
  list-style-type: none;
  display: flex;
  padding: 0;
}

.nav li a {
  font-size: 1em;
  padding-right: 0.8em;
  padding-left: 0.8em;
  color: black;
}

.home {
  border-bottom: 10px solid green;
}

.nav li a:hover {
  display: inline-block;
  font-style: italic;
  transform: scale(1.2);
  text-decoration-line: underline;
}

/* showcase banner styles */

#showcase_container {
  margin-top: 10em;
}

.showcase {
  position: relative;
}

.showcase img {
  /* position: absolute; */
  object-fit: cover;
  width: 100%;
  height: auto;
  box-shadow: -5px -5px 10px lightslategray;
}

.banner_title {
  color: rgb(77, 77, 77);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.showcase:hover .banner_title {
  font-size: 4em;
  opacity: 1;
  animation: text_appear 2s ease-in-out;
}

@keyframes text_appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

/* main styles */
main {
  margin-left: 5%;
  margin-right: 5%;
}

.message {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  align-items: center;
  margin: 2.5rem;
}

#grid_container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  gap: 15px;
  grid-template-rows: repeat(21, 8vw);
  padding: 1em;
}

#grid_container div > img {
  object-fit: cover;
  width: 100%;
  height: 80%;
  box-shadow: -5px -5px 10px lightslategray;
  border-radius: 15px;
}

#grid_container div > img:hover {
  transform: translateY(-5px);
}

.grid_container_swiss_alps {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
}

.grid_container_usa {
  grid-column: 5 / 9;
  grid-row: 1 / 5;
}

.grid_container_dolomites {
  grid-column: 1 / 5;
  grid-row: 6 / 11;
}

.grid_container_zhangye {
  grid-column: 5 / 9;
  grid-row: 6 / 13;
}

.grid_container_middle_east {
  grid-column: 1 / 5;
  grid-row: 12 / 22;
}

.grid_container_iceland {
  grid-column: 5 / 9;
  grid-row: 14 / 22;
}

/* aside styles */

aside {
  margin: 5%;
}
/* footer styles*/

.author_container {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  background-color: #f3eed9;
}

.fossil_logo_small img {
  width: 5vw;
  border-radius: 50%;
}

.author quote {
  text-align: center;
}

.video_and_contacts_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.contact_details_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.contact_details_main ul {
  list-style: none;
  text-align: center;
}

.contact_details_main ul li {
  padding: 1em;
}

/*media queries */

@media (max-width: 1275px) {
  #header_container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .company_container,
  .page_title,
  .page_title h2,
  .main_nav {
    margin: 0;
  }
  .company_container {
    margin-top: 1.5vh;
  }
  .fossil_logo img {
    height: 5vh;
  }
  .showcase:hover .banner_title {
    font-size: 3em;
  }
  .Current_Tours {
    text-align: center;
  }
  #grid_container {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(30, 8vw);
  }
  #grid_container div > img {
    object-fit: cover;
    height: 100%;
  }
  .grid_container_swiss_alps {
    grid-column: 1 / 5;
    grid-row: 1 / 8;
  }

  .grid_container_usa {
    grid-column: 5 / 9;
    grid-row: 1 / 8;
  }

  .grid_container_dolomites {
    grid-column: 1 / 5;
    grid-row: 11 / 18;
  }

  .grid_container_zhangye {
    grid-column: 5 / 9;
    grid-row: 11 / 18;
  }

  .grid_container_middle_east {
    grid-column: 1 / 5;
    grid-row: 21 / 28;
  }

  .grid_container_iceland {
    grid-column: 5 / 9;
    grid-row: 21 / 28;
  }
  .grid_container_swiss_alps h3,
  .grid_container_usa h3,
  .grid_container_dolomites h3,
  .grid_container_zhangye h3,
  .grid_container_middle_east h3,
  .grid_container_iceland h3 {
    font-size: 16px;
  }
  aside {
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .showcase:hover .banner_title {
    font-size: 2em;
  }
  .grid_container_swiss_alps h3,
  .grid_container_usa h3,
  .grid_container_usa p,
  .grid_container_dolomites h3,
  .grid_container_zhangye h3,
  .grid_container_zhangye p,
  .grid_container_middle_east h3,
  .grid_container_iceland h3,
  .grid_container_iceland p {
    font-size: 14px;
  }
}

@media (max-width: 825px) {
  #grid_container {
    grid-template-rows: repeat(36, 8vw);
  }
  .grid_container_swiss_alps {
    grid-column: 1 / 5;
    grid-row: 1 / 8;
  }
  .grid_container_usa {
    grid-column: 5 / 9;
    grid-row: 1 / 8;
  }
  .grid_container_dolomites {
    grid-column: 1 / 5;
    grid-row: 13 / 20;
  }
  .grid_container_zhangye {
    grid-column: 5 / 9;
    grid-row: 13 / 20;
  }
  .grid_container_middle_east {
    grid-column: 1 / 5;
    grid-row: 25 / 33;
  }
  .grid_container_iceland {
    grid-column: 5 / 9;
    grid-row: 25 / 33;
  }
  .video_and_contacts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #plane_pano {
    border-radius: 20px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  .showcase:hover .banner_title {
    font-size: 1.5em;
  }
}

@media (max-width: 625px) {
  #grid_container {
    grid-template-rows: repeat(42, 8vw);
  }
  .grid_container_swiss_alps {
    grid-column: 1 / 5;
    grid-row: 1 / 8;
  }
  .grid_container_usa {
    grid-column: 5 / 9;
    grid-row: 1 / 8;
  }
  .grid_container_dolomites {
    grid-column: 1 / 5;
    grid-row: 15 / 22;
  }
  .grid_container_zhangye {
    grid-column: 5 / 9;
    grid-row: 15 / 22;
  }
  .grid_container_middle_east {
    grid-column: 1 / 5;
    grid-row: 30 / 37;
  }
  .grid_container_iceland {
    grid-column: 5 / 9;
    grid-row: 30 / 37;
  }
}

@media (max-width: 500px) {
  #grid_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    text-align: center;
  }
  .showcase:hover .banner_title {
    font-size: 1em;
  }
  .plane_video_container {
    display: flex;
    justify-content: center;
  }
  #plane_pano {
    width: 75%;
    margin-bottom: 1.5vh;
  }
}
