.bali_inner_wrapper {
    margin: 0 auto;
    padding: 3rem 2rem;
}
.intro_wrapper {
    margin: 2rem auto;
}
.list_items {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 1rem;
    column-gap: 2rem;
}
.list_item_img {
    border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.list_item_details {
    margin-top: 1rem;
}
@media only screen and (min-width: 1000px) {
    .intro_wrapper {
        max-width: 90vw;
        margin: 3rem auto;
    }
    .list_items {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 3rem;
    }
}