/* kept this stylesheet as Tailwind requires plugin to convert grid areas
*/
.usa_grid_container {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 0.5fr repeat(2, 1fr) 0.5fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  gap: 10px;
  margin: 1rem auto;
}
.img_1_wrapper {
  grid-area: 2 / 4 / 5 / 6;
}
.img_2_wrapper {
  grid-area: 1 / 2 / 2 / 4;
}
.img_3_wrapper {
  grid-area: 2 / 1 / 5 / 2;
}
.img_4_wrapper {
  grid-area: 3 / 2 / 4 / 4;
}
.img_5_wrapper {
  grid-area: 2 / 6 / 4 / 7;
}
.img_6_wrapper {
  grid-area: 1 / 5 / 2 / 7;
}
.txt_wrapper_span {
  grid-area: 2 / 2 / 3 / 4;
}
.usa_grid_container div > img {
  border-radius: 8px;
}

@media only screen and (max-width: 1000px) {
  .usa_grid_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .usa_grid_container div > img {
    max-width: 400px;
  }
}
