nav {
  display: flex;
  padding: 1.2rem 0;
  color: black;
  background: whitesmoke;
  width: 100%;
  position: fixed;
  top: 0;
}

.company_container, .nav_logo {
  margin: 0 auto;
}

.nav_logo {
  height: auto;
  width: 50px;
  border-radius: 50%;
}

.nav_logo:hover {
  transform: scale(1.1);
}

.nav_links {
  margin: auto;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.nav_links li {
  display: inline;
  margin: 1rem;
  justify-self: end;
}

.nav_links li a {
  cursor: pointer;
}

.social_media_icon, .burger_icon {
  display: inline;
  width: 30px;
  height: auto;
}

@media (max-width: 950px) {
  .company_title {
    display: none;
  }
  .company_container {
    margin: auto;
  }
}


@media (max-width: 650px) {
  .company_container, .nav_links {
    display: none;
  }
}

