nav {
  display: flex;
  padding: 1.2rem 0;
  color: #FFF;
}

.company_container, .nav_logo {
  margin: 0 auto;
}

.nav_logo {
  height: auto;
  width: 50px;
  border-radius: 50%;
}

.nav_logo:hover {
  transform: scale(1.1);
}

.nav_links {
  margin: auto;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.nav_links li {
  display: inline;
  margin: 1rem;
  justify-self: end;
}

.nav_links li a {
  cursor: pointer;
}

.nav_links li a img {
  display: inline;
  width: 30px;
  height: auto;
}


