.tabs {
    width: 50vw;
}
.tab-list {
    margin-top: 1.5rem;
}
.tabs ol {
    text-align: center;
}

.tab-list-item {
display: inline-block;
list-style: none;
width: 33.3%;
padding: 0.5rem 2rem;
cursor: pointer;
}

.tab-list-active {
border-bottom: 3px solid #7A2424;
}

.tab-content {
    padding-top: 1.5rem;
    /* border-top: 1px solid rgb(0, 0, 0); */
}