/* Keep this as native css as part of react ui library*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 22px;
  right: 45px;
  top: 44px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover */
.bm-burger-bars-hover {
  background: #8a8cf4;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #8a8cf4;
}

.bm-cross-button {
  z-index: 1200;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 0 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: whitesmoke;
  opacity: 0.8;
}

/* Subdivide styling for each list item type */
.bm-item-list a {
  color: black;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item-list img {
  display: inline;
  width: 30px;
  height: auto;
}

.bm-item:hover {
  color: black;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.75);
}

@media (min-width: 768px) {
  .bm-burger-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .bm-burger-button {
    right: 45%;
    top: 1%;
  }
}
